@page
@functions
{
    public string day {get; set;}

    public void OnGet()
    {
        ViewData["Title"] = "Northwind B2B";
        Model.day=DateTime.Now.ToString("dddd");
        @* Model.DayName = DateTime.Now.ToString("dddd"); *@
    }
}

<div class="jumbotron">
    <h1 class="display-3">Welcome to @ViewData["Title"] (from viewData dictionary)</h1>
    <p class="lead"><b>It is @Model.day!</b> We supply products to our customers.</p>
    <hr />
    <p>Our customers include restaurants, hotels, and cruise lines.</p>
    <p>
        <a class="btn btn-primary" href="https://www.asp.net/">Learn more</a>
    </p>
    <p>
        <a class="btn btn-primary" href="suppliers">Suppliers</a>
    </p>
</div>